.btn {
  @include font($fs: 12px, $fw: 600, $lh: 1.33, $ls: 0.09em);
  font-family: inherit;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  min-height: 40px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: #ffffff;
  &:hover,
  &:focus {
    background-color: var(--accent-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
