:root {
  --accent-color: #ff6a00;
  --accent-color-transperant: rgba(255, 106, 0, 0.747);
  --paragraph-color: #555;
  --white-color: #fff;
  --hero-text-color: rgba(157, 164, 189, 0.6);
  --hero-text-color2: #9da4bd;
  --hero-text-color3: #303030;
}
